[Unit]
Description=Vanderwood Twitch Bot Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/project/bombot/
ExecStart=/project/bombot/venv/bin/python3  /project/bombot/bot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target